version: "3.9"

services:
  ui:
    image: public.ecr.aws/aws-containers/retail-store-sample-ui:1.0.0
    ports:
      - "8888:8080"
    depends_on:
      - catalog
      - cart
      - checkout
      - orders

  catalog:
    image: public.ecr.aws/aws-containers/retail-store-sample-catalog:1.0.0
    expose:
      - "8080"

  cart:
    image: public.ecr.aws/aws-containers/retail-store-sample-cart:1.0.0
    expose:
      - "8080"

  checkout:
    image: public.ecr.aws/aws-containers/retail-store-sample-checkout:1.0.0
    expose:
      - "8080"

  orders:
    image: public.ecr.aws/aws-containers/retail-store-sample-orders:1.0.0
    expose:
      - "8080"

